/* line 1, style.sass */
.logo {
  width: 112;
  height: 28px; }

/* line 5, style.sass */
.navbar, .footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffdc), to(#bcffff));
  background: linear-gradient(to bottom, #ffffdc, #bcffff); }

/* line 8, style.sass */
.button {
  margin-top: 5px;
  margin-right: 1px; }

/* line 12, style.sass */
#btnfacebook:hover, #btntwitter:hover, #btninstagram:hover {
  background-color: white;
  color: #3273dc;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 20px;
  -webkit-box-shadow: 0 3px 15px -2px;
          box-shadow: 0 3px 15px -2px; }

/* line 20, style.sass */
#btnfacebook:active, #btntwitter:active, #btninstagram:active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #FA0B7B;
  color: #ffffff;
  -webkit-transform: scale(1);
          transform: scale(1); }

/* line 26, style.sass */
#btnfacebook, #btntwitter, #btninstagram {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1); }

/* line 30, style.sass */
#profile {
  border-radius: 50%;
  width: 200px; }
