.logo{
	width: 112;
	height: 28px;
}
.navbar{
    background: -webkit-linear-gradient(to bottom, rgb(255, 255, 220) ,#bcffff );
    background: linear-gradient(to bottom,rgb(255, 255, 220) ,#bcffff);
}
.footer{
	background: -webkit-linear-gradient(to bottom, rgb(255, 255, 220) ,#bcffff);
	background: linear-gradient(to bottom,  rgb(255, 255, 220) ,#bcffff);
}
.button{
	margin-top: 5px;
	margin-right: 1px;
}
#btnfacebook:hover , #btntwitter:hover , #btninstagram:hover{
	background-color: white;
	color: #3273dc;
	cursor: pointer;
	transform: scale(1.2);
	margin-right: 20px;
	box-shadow: 0 3px 15px -2px;
}
#btnfacebook , #btntwitter , #btninstagram{
	transition: all 0.5s;
	transform: scale(1);
	
}
